.Heading {
  margin: 30px 0;
  text-align: center;
}

.Heading h2 {
  text-transform: uppercase;
  margin: 0;
  color: var(--color-white);
  font-size: 30px;
}


@media (max-width: 800px) {
  .Heading h2 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .Heading h2 {
    font-size: 24px;
  }
}
