.Page {
  height: 100%;
  overflow: hidden;
}

.Screen {
  background: var(--color-primary-dark);
  height: 100%;
}

.Screen > * {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
